<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript">
    let APIARY_ID = null;
    let RESPONSE  = null;

    function submitfn(TYPE,API,DATA){
        let sendData; 
        if(TYPE == "read" && API == "apiaryGroup"){sendData = DATA; APIARY_ID=DATA.APIARY;}
        else if(TYPE == "delete" && API == "apiary"){sendData = DATA;}
        else if(TYPE == "write" && API == "warehouse"){
            sendData = {
                WAREHOUSE:  document.getElementById("WAREHOUSE").value,
                APIARY:     APIARY_ID,
                NAME:       document.getElementById("NAME").value
            }
        }else if(TYPE == "read" && API == "farmIP"){
            sendData = {APIARY:APIARY_ID};
        }
        $.ajax({
            contentType: "application/json; charset=utf-8",
            url : `/api/${TYPE}/${API}`,
            type : 'POST', 
            dataType:'json',
            data : JSON.stringify(sendData), 
            success : function(response) {       
                if(TYPE == "read" && API=="apiaryGroup"){RESPONSE = response.data;}
                else if(TYPE == "delete" && API == "apiary"){
                    document.getElementById(id="TABLE_"+DATA.APIARY+"_INFO").innerHTML = null;   
                    document.getElementById(id="TABLE_"+DATA.APIARY+"_BUTTON_M").innerHTML = null;   
                    document.getElementById(id="TABLE_"+DATA.APIARY+"_BUTTON_D").innerHTML = null;    
                    return true;     
                }else if(TYPE == "write" && API=="warehouse"){
                    console.log(response);
                    if(response.data){
                        RESPONSE.warehouse.push({WAREHOUSE: sendData.WAREHOUSE, NAME: sendData.NAME});
                        Swal.fire({              
                            position: 'top',
                            icon: 'success',
                            title: "소비저장고 등록",
                            text: "소비저장고가 등록되었습니다.",
                            showConfirmButton: false,                                    
                            timer: 1000
                        })
                    }else{
                        Swal.fire({              
                            position: 'top',
                            icon: 'error',
                            title: "소비저장고 중복",
                            text: "이미 등록된 소비저장고입니다.",
                            showConfirmButton: false,                                    
                            timer: 1000
                        })
                    }
                }else if(TYPE == "read" && API=="farmIP"){
                    let farmFlage = response.data.length;                    
                    if(farmFlage){
                        Swal.fire({              
                                position: 'top',
                                icon: 'success',
                                title: "양봉구역 등록",
                                text: "양봉구역이 등록되었습니다.",
                                showConfirmButton: false,                                    
                                timer: 1000
                            })
                    }else{
                        Swal.fire({              
                                position: 'top',
                                icon: 'warning',
                                title: "양봉구역 등록",
                                text: "신규 양봉구역이 없습니다.",
                                showConfirmButton: false,                                    
                                timer: 1000
                            })
                    }
                }
                console.log(API,response);
                if(response.result) HTML(API,response.data)
                else alert("오류발생! 관리자에게 문의하세요.");
            }, // success 
            error : function(xhr, status) {
                alert(xhr + " : " + status);
                console.log(xhr);
            }            
        }); // $.ajax 
    }

    function DELETE(DATA) {
        Swal.fire({
            title: '양봉장을 삭제하시겠습니까?',
            showDenyButton: true,
            confirmButtonText: '네',
            denyButtonText: '아니오',
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
                submitfn('delete','apiary',{APIARY:DATA});
            } 
        });        
    }

    function HTML(API,DATA){
        let HTML_Text = "";
        if(API == "stack"){
            HTML_Text = `<br><h3>소 비 저 장 고 - 등 록</h3><br>
                    <form method="post" action="#">
                        <div class="row gtr-uniform">
                            <div class="col-12">
                                <input type="text" name="WAREHOUSE" id="WAREHOUSE" value="" maxlength='32' placeholder="소비저장고 아이디" />
                            </div>
                            <div class="col-12">
                                <input type="text" name="NAME" id="NAME" value="" maxlength='16' placeholder="소비저장고 이름" />
                            </div>
                            <!-- Break -->
                            <br><br><br><br>
                            <div class="col-12">
                                <input type="button" value="소 비 저 장 고 등 록" style="width: 100%; height: 100px; " onclick="submitfn('write','warehouse','null'); return false;">
                            </div>
                        </div>
                    </form>`;
        }else{
            HTML_Text = `<section class="tiles">
                <article class="style2" onclick="HTML('stack',null)">
                    <span class="image"><img src="/public/images/pic02.jpg" alt="" /></span>
                    <a><h2>소비저장고<br>등록</h2><div class="content">
				    <hr><p>소비저장고가 WIFI에 접속되어 있을 때<br>모니터의 문열기 버튼을 누른 후<br>상단의 로고를 누르면 ID가 표시됩니다.</p></div></a>
                </article>
                <article class="style6" onclick="submitfn('read','farmIP','null')">
                    <span class="image"><img src="/public/images/pic06.jpg" alt="" /></span>
                    <a><h2>양봉구역<br>등록</h2><div class="content">
				    <hr><p>양봉구역을 등록하기 위해서는<br><br>양봉구역의 WIFI에 접속해야합니다.</p></div></a>	
                </article>`;
            for (const iterator of RESPONSE.warehouse) {
                console.log(iterator);
                HTML_Text += ` <article class="style3">
                    <span class="image"><img src="/public/images/pic03.jpg" alt="" /></span>
                    <a onclick="document.getElementById('warehouse_${iterator.WAREHOUSE}').submit();">
                        <h2>소비저장고<br>${iterator.NAME}</h2>
                        <div class="content">
				        <hr><span>소비저장고의 로그를 확인하고</span>
                        <form action='/page/warehouse' method="post" id="warehouse_${iterator.WAREHOUSE}">                        
                        <input type="hidden" name="MAC" value="${iterator.WAREHOUSE}"></form>
                        <span>설정변경과 제어를 할 수 있습니다.</span>
                        </div>
                    </a>
                </article>`;
            }
            for (const iterator of RESPONSE.farm) {
                HTML_Text += ` <article class="style5">                    
                    <span class="image"><img src="/public/images/pic05.jpg" alt="" /></span>     
                    <a onclick="document.getElementById('hive_${iterator.FARM}').submit();">                        
                        <h2>양봉구역<br>${iterator.NAME}</h2>
                        <div class="content">
				        <hr><span>양봉구역의 장비들을 로그를 확인하고</span>
                        <form action='/page/hive' method="post" id="hive_${iterator.FARM}">                        
                        <input type="hidden" name="MAC" value="${iterator.FARM}"></form>
                        <span>설정을 변경할 수 있습니다.</span>
                        </div>
                    </a>
                </article>`;
            }
            HTML_Text += "</section>";
        }
        document.getElementById("contents").innerHTML = HTML_Text;
    }    
</script>

<!-- Main -->
<div id="main" class="alt">
    <div class="inner" id="contents">
        <!-- Lists -->
        <section>
            <div class="row">
                <% for (const object of data) { %>
                    <div class="col-12"><hr></div>                    
                    <div class="col-6" id="TABLE_<%= object.APIARY %>_INFO" onclick="submitfn('read','apiaryGroup',{APIARY:<%= object.APIARY %>})"> 
                        <ul>
                            <li> 
                                <div class="row">
                                    <div class="col-4">양봉장 :</div>
                                    <div class="col-8"><%= object.NAME %></div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-4">주&emsp;소 :</div>
                                    <div class="col-8"><%= object.ADDR %></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-3" id="TABLE_<%= object.APIARY %>_BUTTON_M">
                        <span class="button primary fit" onclick="document.getElementById('MODIFY_<%= object.APIARY %>').submit();">변 경</span> 
                        <form action='/page/apiaryUpdate' method="post" id="MODIFY_<%= object.APIARY %>">                        
                        <input type="hidden" name="APIARY" value="<%= object.APIARY %>"></form>
                    </div>   
                    <div class="col-3" id="TABLE_<%= object.APIARY %>_BUTTON_D">
                        <span class="button fit" onclick="DELETE('<%= object.APIARY %>')">삭 제</span>                        
                    </div>                  
                <% } %>
            </div>
        </section>
        
    </div>
</div>
