<script type="text/javascript">

</script>
<%= JSON.stringify(data) %>
<!-- Main -->
<div id="main" class="alt">
    <div class="inner" id="contents">
        <!-- Lists -->
        <section>
            <div class="row">
                <div class="col-12">                    
                    <div class="table-wrapper">
                        <table>
                            <thead>
                                <tr><th>급수펌프</th></tr>
                            </thead>
                            <tbody>
                            <% for (const object of data.pump) { %>
                                <tr><td>펌프 : <%= object.NAME %></td></tr>
                            <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-6 col-12-medium">
                    <div class="table-wrapper">
                        <table>
                            <thead>
                                <tr>
                                    <th>벌통 이름</th>
                                    <th>상태</th>
                                    <th>설정온도</th>
                                </tr>
                            </thead>
                            <tbody>
                            <% for (const object of data.sensor) { 
                                let USED = "-끔";
                                if(object.USE) USED = "-켬";
                                %>
                                <tr onclick="document.getElementById('MODULE_<%= object.MODULE %>').submit();">
                                    <td><%= object.NAME %></td>
                                    <td><%= object.STATE %><%= USED %></td>
                                    <td><%= object.SET_TEMP %></td>
                                    <form action='/page/hiveSensor' method="post" id="MODULE_<%= object.MODULE %>">                        
                                    <input type="hidden" name="MODULE" value="<%= object.MODULE %>"></form>
                                </tr>
                            <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-6 col-12-medium">
                    <div class="table-wrapper">
                        <table>
                            <thead>
                                <tr><th>소문 개폐기</th></tr>
                            </thead>
                            <tbody>
                            <% for (const object of data.door) { %>
                                <tr><td>소문 : <%= object.NAME %></td></tr>
                            <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        
    </div>
</div>
