<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript">

let WAREHOUSE_HTML;
let WAREHOUSE_NAME;
let WAREHOUSE_HOUR;
let WAREHOUSE_MINUTE;

function submitfn(DATA){
    $.ajax({
        contentType: "application/json; charset=utf-8",
        url :   '/api/update/warehouse',
        type :  'POST', 
        dataType:'json',
        data : JSON.stringify(DATA), 
        success : function(response) {  
            if(response.result){
                if(DATA.TYPE == 'DELETE'){
                    Swal.fire({              
                        position: 'top',
                        icon: 'success',
                        title: "소비저장고 삭제",
                        text:  "현 양봉장에서 소비저장고가 삭제되었습니다.",
                        showConfirmButton: false,                                    
                        timer: 1000
                    })
                    .then((result) => {     
                        window.location.href = "/page/apiaryList";
                    })   
                }else if(DATA.TYPE == 'NAME'){
                    Swal.fire({              
                        position: 'top',
                        icon: 'success',
                        title: "이름 변경",
                        text:  "소비저장고 이름이 변경되었습니다.",
                        showConfirmButton: false,                                    
                        timer: 1000
                    })
                }else if(DATA.TYPE == 'MQTT'){
                    Swal.fire({              
                        position: 'top',
                        icon: 'success',
                        title: "명령 전달",
                        text:  "소비저장고로 명령을 전달했습니다.",
                        showConfirmButton: false,                                    
                        timer: 1000
                    })
                }       
            }else{
                Swal.fire({              
                    position: 'top',
                    icon: 'error',
                    title: "실패",
                    text:  "관리자에게 문의하세요.",
                    showConfirmButton: false,                                    
                    timer: 1000
                }) 
            }
        }, // success 
        error : function(xhr, status) {
            alert(xhr + " : " + status);
            console.log(xhr);
        }            
    }); // $.ajax 
}

function MQTT(commend) {
    submitfn({MODULE:'<%= data.WAREHOUSE %>',TYPE:'MQTT',COMMEND:commend});
}

function RUN(DATA) {
    if(DATA){
        MQTT('AT+ON=0');
        document.getElementById("warehouse_onoff").innerText = "ON";
    }else{
        MQTT('AT+OFF=0')
        document.getElementById("warehouse_onoff").innerText = "OFF";
    }
}

function TIMESET() {
    let unitHour = Number(document.getElementById("HOUR").value);
    let runTime  = Number(document.getElementById("MINUTE").value); 

    if(unitHour<0){      unitHour = 0;}
    else if(unitHour>24){unitHour = 24;}
    if(runTime> unitHour*60){runTime = unitHour*60;}
    else if(runTime<0){      runTime = 0;}

    MQTT("AT+TC="+unitHour);
    MQTT("AT+TO="+runTime);
        
}

function CANCLE() {
    document.getElementById("warehouse_button").innerHTML = WAREHOUSE_HTML;
    document.getElementById("warehouse_name").innerText   = WAREHOUSE_NAME;  
    document.getElementById("warehouse_hour").innerText   = WAREHOUSE_HOUR;  
    document.getElementById("warehouse_minute").innerText = WAREHOUSE_MINUTE;  
}

function NAME() {
    const name_change = document.getElementById("NAME").value;
    if(name_change == ""){
        Swal.fire({              
            position: 'top',
            icon: 'error',
            title: "텅 빈 이름",
            text:  "소비저장고 이름이 비어있습니다.",
            showConfirmButton: false,                                    
            timer: 1000
        })
    }else if(name_change == WAREHOUSE_NAME){
        Swal.fire({              
            position: 'top',
            icon: 'info',
            title: "동일한 이름",
            text:  "이름이 그대로 유지됩니다.",
            showConfirmButton: false,                                    
            timer: 1000
        })
    }else{
        WAREHOUSE_NAME = name_change;
        submitfn({MODULE:'<%= data.WAREHOUSE %>',TYPE:'NAME',NAME:name_change});
    }
}

function DELETE() {
    Swal.fire({
        title: '양봉장을 삭제하시겠습니까?',
        showDenyButton: true,
        confirmButtonText: '네',
        denyButtonText: '아니오',
    }).then((result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed) {
            submitfn({MODULE:'<%= data.WAREHOUSE %>',TYPE:'DELETE'});
        } 
    });     
}

function MODIFY(DATA) {
    const INIT = JSON.parse(DATA);
    WAREHOUSE_HTML = document.getElementById("warehouse_button").innerHTML;   
    WAREHOUSE_NAME = document.getElementById("warehouse_name").innerText;   
    WAREHOUSE_HOUR = document.getElementById("warehouse_hour").innerText; 
    WAREHOUSE_MINUTE = document.getElementById("warehouse_minute").innerText; 
    let PLZ_ONOFF = "OFF";
    if(INIT.USE) PLZ_ONOFF = "ON";
    let HTML_TEXT = `<div class="table-wrapper">
                        <table class="alt">
                            <thead>
                                <tr><th colspan="2"><span class="button small fit" onclick="CANCLE()">취&emsp;소</span></th></tr>
                                <tr><th colspan="2"><span class="button small primary fit" onclick="NAME()">이름변경</span></th></tr>
                                <tr><th colspan="2" ></th>&emsp;</tr>
                                <tr><th><span class="button small primary fit" onclick="RUN(true)">O N</span></th><th><span class="button small fit" onclick="RUN(false)">OFF</span></th></tr>                                
                                <tr><th colspan="2" ><span class="button small primary fit" onclick="TIMESET()">시간설정</span></th></tr>
                            </thead>
                        </table>
                    </div>`;
    document.getElementById("warehouse_button").innerHTML = HTML_TEXT;
    document.getElementById("warehouse_name").innerHTML   = `<input type="text" name="NAME" id="NAME" value="${WAREHOUSE_NAME}" maxlength='16' placeholder="소비저장고 이름" />`;
    document.getElementById("warehouse_hour").innerHTML   = `<input type="number" min="0" max="24" name="HOUR" id="HOUR" value="${WAREHOUSE_HOUR}" placeholder="시간" style="width:60px;height:20px;font-size:16px;" />`;
    document.getElementById("warehouse_minute").innerHTML = `<input type="number" min="0" max="1440" step="5" name="MINUTE" id="MINUTE" value="${WAREHOUSE_MINUTE}" placeholder="분" style="width:60px;height:20px;font-size:16px;" />`;    
}

</script>
<!-- Main -->
<div id="main" class="alt">
    <div class="inner" id="contents">
        <!-- Lists -->
        <section>
            <div class="row">
                <div class="col-12">                         
                    <div class="row">
                        <div class="col-8">
                            <div class="table-wrapper">
                                <table class="alt">
                                    <thead>
                                        <tr><th>ID</th><th><%= data.WAREHOUSE %></th></tr>
                                        <tr><th>이름</th><th id="warehouse_name"><%= data.NAME %></th></tr>
                                        <tr><th>ON / OFF</th><th id="warehouse_onoff"><%let onoff="OFF"; if(data.USE)onoff="ON"; %><%= onoff %></th></tr>
                                        <tr><th id="warehouse_hour"><%= data.OFF %></th><th>시간 중</th></tr>
                                        <tr><th id="warehouse_minute"><%= data.ON  %></th><th>분 켜짐</th></tr>
                                    </thead>
                                </table>
                            </div>
                        </div>

                        <div class="col-4"> 
                            <div class="table-wrapper">
                                <table class="alt">
                                    <thead id="warehouse_button">
                                        <tr><th><span class="button primary small fit" onclick="MODIFY('<%=JSON.stringify(data)%>')">설&emsp;정</span></th></tr>
                                        <tr><th>&nbsp;</th></tr>
                                        <tr><th><span class="button small fit" onclick="DELETE()">삭&emsp;제</th></tr>
                                        <tr><th>&ensp; </th></tr>                              
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>  
                    <hr>
                </div>

                
                
                <div class="col-4 col-12-medium">
                    <div class="table-wrapper">
                        <table>
                            <thead>
                                <tr>
                                    <th>시간</th>
                                    <th>오존 농도</th>
                                </tr>                                
                            </thead>
                            <tbody>                                
                                <% for (const log of logs.O3) { %>
                                <tr>
                                    <td><%= log.TMST %></td>
                                    <td><%= log.O3/10 %> PPM</td>                                    
                                </tr>  
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-4 col-12-medium">
                    <div class="table-wrapper">
                        <table>
                            <thead>
                                <tr>
                                    <th>시간</th>
                                    <th>플라즈마 ON/OFF</th>
                                </tr>                                
                            </thead>
                            <tbody>                                
                                <% for (const log of logs.PLZ) { 
                                    let plz_state = "OFF";
                                    if(log.PLZ) plz_state = "ON"; %>
                                <tr>
                                    <td><%= log.TMST %></td>
                                    <td><%= plz_state %></td>
                                </tr>  
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-4 col-12-medium">
                    <div class="table-wrapper">
                        <table>
                            <thead>
                                <tr>                                    
                                    <th>시간</th>
                                    <th>문 열림/닫힘</th>
                                </tr>                                
                            </thead>
                            <tbody>                                
                                <% for (const log of logs.DOOR) { 
                                    let door_state = "닫힘";
                                    if(log.DOOR) door_state = "열림"; %>  
                                <tr>
                                    <td><%= log.TMST %></td>
                                    <td><%= door_state %></td>
                                </tr>  
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>               

            </div>
        </section>
        
    </div>
</div>
