<script>

function submitfn(API,DATA){
    $.ajax({
                contentType: "application/json; charset=utf-8",
                url : `/api/update/${API}`,
                type : 'POST', 
                dataType:'json',
                data : JSON.stringify(DATA), 
                success : function(response) {  
                    console.log(response);
                    if(response.result){    
                        if(API == "hiveSensorName" && DATA.NAME){
                            document.getElementById("hive").innerText = DATA.NAME;
                            Swal.fire({              
                                position: 'top',
                                icon: 'success',
                                title: "이름 변경",
                                text: "벌통 이름이 변경되었습니다.",
                                showConfirmButton: false,                                    
                                timer: 1500
                            })
                        }else if(API == "hiveSensor"){
                            Swal.fire({              
                                position: 'top',
                                icon: 'success',
                                title: "설정 중",
                                text: "컨트롤러에 명령을 전달했습니다.",
                                showConfirmButton: false,                                    
                                timer: 1500
                            })
                        }
                    }
                }, // success 
                error : function(xhr, status) {
                    alert(xhr + " : " + status);
                    console.log(xhr);
                }            
            }); // $.ajax 
    }

</script>
<!-- Main -->
<div id="main" class="alt">
    <div class="inner" id="contents">
        <!-- Lists -->
        <section>
            <div class="row">
                <div class="col-8">                    
                    <div class="table-wrapper">
                        <table>
                            <thead>
                                <tr><th>ID</th><th><%= data.WAREHOUSE %></th></tr>
                                <tr><th>이름</th><th><%= data.NAME %></th></tr>
                                <tr><th>ON / OFF</th><th><%let onoff="OFF"; if(data.USE)onoff="ON"; %><%= onoff %></th></tr>
                                <tr><th><%= data.OFF %></th><th>시간 중</th></tr>
                                <tr><th><%= data.ON  %></th><th>분 켜짐</th></tr>
                            </thead>
                        </table>
                    </div>
                </div>

                <div class="col-4">                    
                    <div class="table-wrapper">
                        <table class="alt">
                            <thead>
                                <tr><th><span class="button primary small fit" id="button1">설&emsp;정</span></th></tr>
                                <tr><th>&nbsp;</th></tr>
                                <tr><th><span class="button small fit" id="button1">삭&emsp;제</th></tr>
                                <tr><th>&ensp; </th></tr>                              
                            </thead>
                        </table>
                    </div>
                </div>
                
                <div class="col-4 col-12-medium">
                    <div class="table-wrapper">
                        <table>
                            <thead>
                                <tr>
                                    <th>시간</th>
                                    <th>오존 농도</th>
                                </tr>                                
                            </thead>
                            <tbody>                                
                                <% for (const log of logs.O3) { %>
                                <tr>
                                    <td><%= log.TMST %></td>
                                    <td><%= log.O3/10 %> PPM</td>                                    
                                </tr>  
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-4 col-12-medium">
                    <div class="table-wrapper">
                        <table>
                            <thead>
                                <tr>
                                    <th>시간</th>
                                    <th>플라즈마 ON/OFF</th>
                                </tr>                                
                            </thead>
                            <tbody>                                
                                <% for (const log of logs.PLZ) { 
                                    let plz_state = "OFF";
                                    if(log.PLZ) plz_state = "ON"; %>
                                <tr>
                                    <td><%= log.TMST %></td>
                                    <td><%= plz_state %></td>
                                </tr>  
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-4 col-12-medium">
                    <div class="table-wrapper">
                        <table>
                            <thead>
                                <tr>                                    
                                    <th>시간</th>
                                    <th>문 열림/닫힘</th>
                                </tr>                                
                            </thead>
                            <tbody>                                
                                <% for (const log of logs.DOOR) { 
                                    let door_state = "닫힘";
                                    if(log.DOOR) door_state = "열림"; %>  
                                <tr>
                                    <td><%= log.TMST %></td>
                                    <td><%= door_state %></td>
                                </tr>  
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>               

            </div>
        </section>
        
    </div>
</div>
